:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #333333;
  color: white;
}

.sidenav-container {
  height: 100vh;
  border: solid black 1px;

}

.sidenav {
  width: 15% !important;
}

.sidenav-list ::ng-deep .mat-icon {
  margin-right: 10px;
}

::ng-deep .mat-expansion-panel {
  box-shadow: none !important;
}

::ng-deep .mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

::ng-deep .mat-mdc-list-item {
  font-weight: bolder;
}

::ng-deep .mat-mdc-list-item-unscoped-content {
  display: flex;
  align-items: center;
  justify-content: left;
}

.content {
  padding: 16px;
}

::ng-deep .mat-sidenav-container {
  height: 100vh;
  border: solid black 1px;
}

::ng-deep .mat-sidenav-content {
  border: solid black 1px;
}

.main-footer {
  margin-top: auto;
  background-color: #333333;
  color: white;
  text-align: center;
  font-size: .9em;
}

.image-wrapper {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-logo {
  width: 120px; /* Adjust as needed */
  height: auto;
  border-radius: 8px; /* Optional rounded corners */
  align-self: center;
  align-items: center;
  mix-blend-mode: multiply;
}

@media (max-width: 768px) {
  .sidenav {
    width: 250px !important; /* ✅ Adjust width for mobile */
  }

  .sidenav-container {
    height: 100vh;
  }

  .content {
    padding: 10px;
  }
}

@media (max-width: 1377px) {
  .sidenav {
    width: 250px !important; /* ✅ Adjust width for mobile */
  }

  .sidenav-container {
    height: 100vh;
  }

  .content {
    padding: 10px;
  }
}
